* {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(255, 162, 0);
}

.go-back {
    background-color: black;
    color: white;
}

#trial {
    color: blue;
}

#firstimg {
    height: 150;
    width: 200px;
}

.summer_images {
    height: auto;
    width: 351px;
}